/* ------------------------------------------------------------------- */
/* ---------------------global content properties--------------------- */
/* ------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* De lucht achtergrond staat hierin en de standaard properties worden benoemd */
html, body{
    background: url(img/stage1/o_lucht.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* Main heeft een relative position, dit doet nog niet veel, maar de onderliggende onderdelen van de pagina wel */
main{
    position: relative;
    height: calc(100% - 60px);
}

/* De header opmaat met het logo van SpaceX er weer in */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 60px;
    top: 0;
    background-color: #141A28;
    border-bottom: 2px solid #C04FFA;
    z-index: 50;
}



/* ------------------------------------------------------------------- */
/* --------------------------main properties-------------------------- */
/* ------------------------------------------------------------------- */

/* Tent bevat de image die door JS wordt gewijzigd iedere paar uur. De position is gebaseerd op de relative van main */
#tent{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 35% 0%; */
    background-position: left;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;  
}

/* Dit is de opmaak van de wrapper om de zon en maan heen. Zo kan het later in een cirkel ronddraaien en staan de zon en maan tegenover elkaar */
#globeWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78%;
    position: relative;
}

/* De zon en de maan hebben elk specifieke properties zoals een breedte */
#moon, #sun{
    align-items: center;
    height: 200px;
    position: absolute;
    vertical-align: middle;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

/* De maan staat bij top */
#moon{
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* De zon staat bij bottom */
#sun{
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* met deze keyframes verzorg ik de rotatie van de zon en de maan */
@keyframes globe {
	from { 	transform: rotate(0deg) rotate(0deg); }
	to   {  transform: rotate(360deg) rotate(-360deg); }
}

/* Dit bepaald de breedte van de box waarin de zon en de maan zitten */
.sunMoon{
    width: 300px;
}

/* Dit is de eerste tent achtergrond voor de ochtend */
.landscapeMorning{
    background-image: url(img/stage1/o_tent.png);
    object-fit: cover;
}

/* Dit is de tweede tent achtergrond voor de middag */
.landscapeNoon{
    background-image: url(img/stage2/m_tent.png);
}

/* Dit is de derde tent achtergrond voor de avond */
.landscapeEvening{
    background-image: url(img/stage3/a_tent.png);
}

/* Dit is de vierde tent achtergrond voor de nacht */
.landscapeNight{
    background-image: url(img/stage4/n_tent.png);
}

/* Dit is de eerste lucht achtergrond voor de ochtend */
.skyMorning{
    background-image: url(img/stage1/o_lucht.jpg);
}

/* Dit is de tweede lucht achtergrond voor de middag */
.skyNoon{
    background-image: url(img/stage2/m_lucht.jpg);
}

/* Dit is de derde lucht achtergrond voor de avond */
.skyEvening{
    background-image: url(img/stage3/a_lucht.jpg);
}

/* Dit is de vierde lucht achtergrond voor de nacht */
.skyNight{
    background-image: url(img/stage4/n_lucht.jpg);
}

/* Dit is de container die alles van de klok bevat. Voor mobile staat hij op column */
#clockWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

/* De individuele blokken krijgen een breedte en kleur mee */
.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color: #F0B354;
}

/* De dubbele punt is niet zichtbaar in mobile weergave */
.colon{
    display: none;
}

/* Dit is de opmaak van de getallen van de klok */
.extraData{
    font-size: 2.5em;
    color: #fff;
}

/* Dit is de opmaak van de extra data onder de klokgetallen */
.extraData2{
    color: #df8412;
    font-size: 0.8em;;
}

/* Dit is de fontgrootte van de dubbele punt in de klok */
.blinker{
    font-size: 1.2em;
}

/* Dit is het kampvuur die geanimeerd wordt door middel van keyframes. Ik zou het liefste willen dat deze altijd ggoed op de afbeelding blijft staan, maar als de bg groter wordt dan staat ie niet meer goed */
#campfire{
    position: fixed;
    width: 475px;
    height: 475px;
    top: 520px; left: 470px;
    margin: auto;
    background-image: url(img/kampvuur1.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fire 1.5s infinite linear;
    z-index: 5;
    overflow: visible;
}

/* Met deze 5 keyframes wordt een soort gifjee/animatie gesimuleerd alsof het vuur brand */
@keyframes fire{
    0% {background-image: url(img/kampvuur1.png);}
    25% {background-image: url(img/kampvuur2.png);}
    50% {background-image: url(img/kampvuur3.png);}
    75% {background-image: url(img/kampvuur4.png);}
    100% {background-image: url(img/kampvuur5.png);}
}

/* Deze astronaut is alleen zichtbaar in de nacht :) */
#astronaut{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    animation: pizzaguy 30s infinite linear;
    opacity: 0;
}

/* Dit is de animatie van de astronaut als hij 's nachts wel beweegt. Javascript maakt de opacity dan 100% */
@keyframes pizzaguy{
    0%{left: 0px; top: 90px;}
    20%{top: 30px;}
    40%{top: 90px;}
    60%{top: 30px;}
    80%{top: 90px;}
    100%{left: 100%; top: 30px;}
}



/* ------------------------------------------------------------------- */
/* ---------------------Media Query Mobile liggend-------------------- */
/* ------------------------------------------------------------------- */

/* brede smartphone/smalle tablet versie */
@media only screen and (min-width: 600px) {
    #globeWrapper{
        height: 100%;
    }

    /* De klok gaat in een row ipv column nu er ruimte voor is */
    #clockWrapper{
        top: 30%;
        flex-direction: row;
    }

    /* De dubbele punt is ook in een box opgemaakt */
    .colon{
        display: flex;
        align-items: center;
        height: 100px;
        width: 4px;
        background-color: #F0B354;
        color: #df8412;
    }

    /* De dubbele punt knippert met een animation */
    .blinker{
        padding-bottom: 15px;
        animation: blinker 1.5s linear infinite;
    }

    /* met dit keyframe verandert de opacity elke 1.5 seconden */
    @keyframes blinker{
        50% {opacity: 0;}
    }
}



/* ------------------------------------------------------------------- */
/* -------------------------Media Query tablet------------------------ */
/* ------------------------------------------------------------------- */

/* tablet versie */
@media only screen and (min-width: 768px) {
    /* De klok staat iets lager zodat je meer van de lucht ziet */ 
    #clockWrapper{
        top: 33%;
    }

    /* De klok blokken worden groter */
    .blocks{
        width: 150px;
        height: 150px;
    }

    /* De dubbele punt box wordt daardoor ook hoger */
    .colon{
        height: 150px;
    }

    /* De tekst wordt iets groter */
    .extraData{
        font-size: 3em;
    }
    
    /* De tekst wordt iets groter */
    .extraData2{
        font-size: 0.8em;;
    }
}



/* ------------------------------------------------------------------- */
/* ------------------------Media Query Desktop------------------------ */
/* ------------------------------------------------------------------- */

/* Desktop versie */
@media only screen and (min-width: 1200px) {
    /* De blokken worden nog ietsje groter */
    .blocks{
        width: 200px;
        height: 200px;
    }

    /* De hoogte van de dubbele punt daardoor ook */
    .colon{
        height: 200px;
    }

    /* De tekst wordt groter */
    .extraData{
        font-size: 5em;
    }
    
    /* de tekst wordt groter */
    .extraData2{
        font-size: 1em;;
    }
}